.icon-container {
  display: flex;
  flex-direction: column;
}

.tech-icons {
  margin: .3em;
}

.img-icon1 {
  width: 8em;
  margin: 1em;
}

.img-icon2 {
  width: 16em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: darkorchid;
  border-radius: 50%;;
}

.img-icon3 {
  width: 10em;
  margin: 1em;
}

.img-icon4 {
  width: 6em;
  margin-left: 2em;
  margin-right: 4em;
}

.img-icon5 {
  width: 8em;
  margin: 1em;
}

.img-icon6 {
  width: 12em;
  margin: 1em;
}

.img-icon7 {
  width: 8em;
  margin: 1em;
}

.fa-paw {
 font-size: 1.1em;
}
