// .navbar {
//   margin-right: -8em;
// }

.navbar-expand-lg {
  padding-top: 2em;
  text-align: end;
  align-items: start;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

.nav-link:hover {
  text-decoration: none;
  color: lightgrey;
}
