@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'card';
@import 'form';

body {
  background-color: $favColor;
}

.tech-icon-container {
  display: flex;
  justify-content: center;
}
.tech-icons {
  margin: .3em;
}

.profile-image {
  width: 30em;
}

.about-img {
  height: 15.5em
}


.jumbotron {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-right: 10em;
  background-color: white;
}
