@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'card';
@import 'form';

.tech-icon-container {
  display: flex;
  justify-content: center;
}

.tech-icons {
  margin: .3em;
}

.profile-image {
  width: 30em;
  border-radius: 1em;
}

.about-img {
  height: 20em;
}

.jumbotron {
  display: flex;
  justify-content: start;
  margin-top: 2em;
  background-color: white;
}

.navbar-expand-lg {
  padding-top: 2em;
  text-align: end;
  align-items: start;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

.nav-link:hover {
  text-decoration: none;
  color: lightgrey;
}

.image-container {
  display: flex;
  justify-content: center;
}

#title {
  margin-top: 1em;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

#sub-title {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

#about-me-paragraph {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  margin-top: 1em;
}
