@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'card';
@import 'form';

body {
  background-color: $favColor;
}

.tech-icon-container {
  display: flex;
  justify-content: center;
}
.tech-icons {
  margin: .4em;
}
